<html>
    <head>
        <title>Speech Collection - Detail</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    </head>

    <body>
        <div id="outer">
            <div>
                <p>Welcome, {{ current_user.email }} </p>

            <div>
                <video muted autoplay></video>
                <select id="audioSource"></select>
                <select id="videoSource"></select>
            </div>
            <div>
                <button id="start" onclick="startRecording()">Start</button>
                <button id="end" onclick="stopRecording()">End</button>
            </div>
        </div>
        <a class="backlink" href="/home">&gt;All Texts</a>
    </body>

    <script src="{{ url_for('static', filename='js/audio.js') }}"></script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
</html>