<html>
    <head>
        <title>Speech Collection - Detail</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    </head>

    <body>
        <div id="outer">
            <div>
                <p>Welcome, {{ current_user.email }} </p>

            <div>
                <video muted autoplay></video>
                <select id="audioSource"></select>
                <select id="videoSource"></select>
            </div>
            <div>
                <button id="start" onclick="startRecording()">Start</button>
                <button id="cancel" onclick="cancelRecording()">Cancel</button>
                <button id="end" onclick="stopRecording()">End</button>
            </div>
        </div>
        <div>
            <p>VLC Media Player is suggested to play webm files</p>
            {% if samples|length > 0 %}
            <ul>
                {% for sample in samples %}
                <li id="sample-{{ sample.id }}">
                    <div>
                        <a onclick="return downloadSample({{ sample.id }});">
                            <p id="sample-{{ sample.id }}" class="downloadText">Download {{ sample.created_at }} recording</p>
                        </a>
                        <a onclick="return deleteSample({{ sample.id }});" download>
                            <p id="sample-{{ sample.id }}" class="deleteText">Delete {{ sample.created_at }} recording</p>
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <a class="backlink" href="/home">&gt;All Texts</a>
    </body>

    <script src="{{ url_for('static', filename='js/audio.js') }}"></script>
    <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
</html>